@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto|Gloria+Hallelujah');

body {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  color: rgb(110,110,110);
}


header {
	height: 120px;
}

#userspot {
	float: left;
	height: 120px;
}

#userspot img {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-right: 10px;
}


#usertext {
	height: 120px;
}


h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  color: rgb(34,34,34);
  font-weight: 400;
}

h1, h2, h3, h4 {
  margin: 0px;
}


p {
	padding-top: 0;
	margin-top: 0;
}


section a {
  color: #39c;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: normal;
}

.description {
  font-family: Gloria Hallelujah;
  /* font-weight: bold; */
}

.chunk {
  margin-top: 20px;
  display: block;
}

.chunkLeft {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  padding-right: 10px;
  width: 110px;
}

.chunkRight {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
  border-left: 1px solid #666;
}
