@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto|Gloria+Hallelujah');

.fleft {
	float: left;
}

.fright {
	float: right;
}

.cento {
	width: 150px;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  color: rgb(100,100,100);
  background: url(../images/background.png);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: -300px -300px;
  /*background-position: left bottom;*/
  background-attachment: fixed;
}


.content {
	width: 50%;
	margin: auto auto;
	min-width: 700px;
	padding: 30px
}

header {
	/*height: 120px; */
	margin-bottom: 50px;
}

#userspot {
	float: left;
	height: 150px;
}

#userspot img {
    width:  100px;
    height: 100px;
    margin-top: 15px; 
    margin-right: 10px;
	border-radius: 50%;
	border: 3px solid #39c;
	padding: 3px;
}


#usertext {
	height: 150px;
}


h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 46px;
  color: rgb(34,34,34);
  font-weight: 400;
}

h1, h2, h3, h4 {
  margin: 0px;
}

h2, h3 {
	font-size: 15px;
}


p {
	padding-top: 0;
	margin-top: 0;
}

section {
	margin-left: 80px;
}


section a {
  color: #39c;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: normal;
}


.icon {
	width: 32px;
	vertical-align: middle;
	margin-right: 5px;
}


footer {
	margin-top: 40px;
}


.excerpt {
	font-size: 20px;
}

.description {
  font-family: 'Gloria Hallelujah';
  font-size: 15px;
  /* font-weight: bold; */
}


.chunk {
 /* margin-top: 20px;*/
  display: block;
}

.chunkLeft {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  padding-right: 10px;
  width: 110px;
}

.chunkRight {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
  border-left: 1px solid #666;
}


.dot {
	margin-left: 116px;
	margin-top: 2px;
	margin-bottom: 0px;
	width: 16px;
	height: 16px;
}
