@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

* {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  color: rgb(110,110,110);
}


h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  color: rgb(34,34,34);
  font-weight: 400;
}


section a {
  color: #39c;
  text-decoration: none;
  font-family: Roboto, sans-serif;
}
